{% extends 'base.html.twig' %}

{% block title %}New voitures{% endblock %}

{% block body %}


{{ form(formVoiture) }}

<h1>JE SUIS LE TWIG NEW</h1>
<form method="post">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="brand" placeholder="Marque">
    <input type="text" name="price" placeholder="Price">
    <input type="submit" value="envoyé">

</form>

    <a href="{{ path('indexVoiture') }}" class="btn btn-primary">Retour</a>




{% endblock %}
